/* ================================ */
/*        GLOBAL                    */
/* ================================ */
* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Fira Sans", Arial, sans-serif;
  color: #0f0f0f;
}

*,
html,
body {
  font-weight: 200;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
}

h1 {
  font-size: 30px;
  font-weight: 300;
  margin: 15px 0;
}

h2 {
  font-size: 28px;
}

a,
p,
li,
h5 {
  font-size: 18px;
  line-height: 1.45;
}

ul,
ul li {
  margin: 0;
  padding: 0;
}

#sidebar ul li {
  list-style: none;
}

/* ================================ */
/*            UTILS                 */
/* ================================ */
/*   =Utilities   */
.flex {
  display: flex;
}

.box,
.main-section {
  margin: 0 auto;
  padding: 15px 30px 15px 60px;
}

.box--title-header {
  padding: 10px 30px 10px 15px;
  margin: 0 30px 0 0;
}
.box--subtitle {
  padding: 45px 0 30px;
}
.box--nestSubtitle {
  padding: 30px 0 20px;
}

.box--link {
  padding: 0;
}

.box--link a {
  color: #0f0f0f;
}

.box--text {
  padding: 0 0 30px 20px;
}
.box--list {
  padding: 0 0 30px 90px;
}
.box--list--nested {
  padding: 0 0 30px 30px;
}

.box--list-items {
  margin-left: 17px;
  padding-left: 3px;
}

.box--code {
  display: block;
  margin-left: 50px;
  padding: 15px 0 15px 10px;
  margin-bottom: 30px;
  background-color: #0f0f0f;
  color: #f0f0f0;
  border-radius: 5px;
  font-weight: 300;
}

/* utils news */
.text-bold {
  font-weight: 500;
  color: #161616;
}
.list-style-none {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

/* ================================ */
/*           LAYOUT                 */
/* ================================ */
header.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1000;
  border-bottom: 2px solid #f0f0f0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header .img-logo {
  padding-right: 30px;
}

header .img-logo .logo {
  width: 35px;
}

header .navbar .navbar-left .nav-item {
  padding-right: 30px;
  padding-top: 5px;
}

#main-doc {
  position: relative;
  width: 100vw;
  margin: 85px 0 0;
  padding: 0;
}
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20vw;
  height: 100%;
  border-right: 2px solid #f0f0f0;
}

#sidebar ul {
  position: fixed;
  top: 120px;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 95%;
  width: 20vw;
  padding-bottom: 80px;
}

#sidebar ul li a {
  padding: 10px 30px;
}

#main-content {
  position: absolute;
  top: 0;
  left: 20vw;
  width: 62vw;
  padding: 0;
  overflow-x: hidden;
}

#main-content .hero-img {
  width: 100vw;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

/* ================================ */
/*         MEDIA QUERIES            */
/* ================================ */
@media screen and (max-width: 1106px) {
  h2 {
    font-size: 25px;
  }
  #sidebar {
    width: 20vw;
  }

  #main-content {
    width: 62vw;
    padding: 0 30px;
  }
}

@media screen and (max-width: 990px) {
  #sidebar {
    width: 100%;
    height: 307px;
    background-color: #fff;
    z-index: 10;
    border-right: none;
  }
  #sidebar ul {
    width: 100%;
    height: 210px;
    border-right: none;
    padding: 0 20px;
    border-bottom: 2px solid #f0f0f0;
  }

  #sidebar header {
    text-align: center;
  }

  #main-content {
    position: absolute;
    width: 100%;
    top: 307px;
  }
  .flex {
    flex-direction: column;
  }
}
