/**********************
        colors
**********************/
$documentBackground: #fff;
$mainLightBlue: #B6B2ED;
$mainBlue: #09053C;
$mainDarkBlue: #03011C;
$mainOrange: #F9930E;


/*
$textColor: #FFCD8B;
$bgColor: #B6B2ED;
$accentLight: #8F89E1;
*/